@import 'https://fonts.googleapis.com/css?family=Orbitron';

body {
  height: 100%;
  background-color: black;
}

h1.title {
  font-size: 80px;
  font-weight: bold;
}

a, .link {
  text-decoration: none;
  color: rgba(51,122,183,0.7);
  cursor: pointer;
  cursor: hand;
}

.main {
  font-family: 'Orbitron', sans-serif;
  color: rgba(255,255,255,0.65);
  text-align: center;
}

#bg-video {
  position: fixed;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
}

@media screen and (max-width: 600px)  {
    h1.title {
        font-size: 36px;
    }
}

.temperature {
  margin: 0 auto;
  width: 270px;
}

#weather-icon {
  font-size: 150px;
}

#celsius, #fahrenheit {
  font-size: 100px;
  font-weight: bolder;
}

i {
  margin: 7px;
}
